<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <p>Tiny URL is created</p>
    <p>Longurl :
        <a href='<%= longurl %>' target='_blank'>
            <%= longurl %>
        </a>
    </p>
    <p>Shorturl :
        <a href='<%= shorturl %>' target='_blank'>
            <%= shorturl %>
        </a>
    </p>
</body>

</html>